// =========================
// Produto: Ortho
// =========================
:root {
    --cor-primaria: #825389;

    --Color-MD1: #c492cb;
    --Color-MD2: #825389;
    --Color-MD3: #fff;
    --Color-MD4: #6E6E6E;
    --Color-MD5: #A1A1A1;
    --Color-MD2-40: #82538940;

    --Color-Table-Line1: #f1f1f1;
    --Color-Table-Line2: #fff;
    --Color-Text-Table: #868686;
    --Border-Table: 1px solid #c3c3c3;
    --Color-Destaque-Table: #ff9f01;
}