@use "../../../../scss/_variables.scss"; 

.PageSucesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    grid-gap: 48px;
    .PageSucesso_Head{
        text-align: center;
        display: flex;
        flex-direction: column;
        .PageSucesso_Head_Icone{
            i{
                font-size: 48px;
                color: #20BB67;
                margin-bottom: 24px;
            }
        }
        .PageSucesso_Head_Titulo{
            font-size: 26px;
            line-height: 34px;
            font-weight: 700;
            color: var(--Color-MD2);
            text-transform: uppercase;
        }
        .PageSucesso_Head_Subtitulo{
            color: #979797;
            font-size: 26px;
            line-height: 34px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    .PageSucesso_Informacao{
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        font-weight: 500;
    }
    .PageSucesso_BlocoLink{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .PageSucesso_BlocoLink_Texto{
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: var(--Color-MD2);
            text-align: center;
        }
        .PageSucesso_BlocoLink_CodigoDigitavel{
            margin-top: 24px;
            width: 100%;
            .BlocoLink_CodigoDigitavel_Input{
                width: 100%;
                background-color: #0000;
                border: 1px solid #d1d1d1;
                background-color: #fff;
                padding: 12px 10px;
                font-size: 14px;
                outline: none;
                transition: 150ms linear;
                &:focus{
                    border: 1px solid var(--Color-MD1);
                }
                &:disabled {
                    background-color: #fff;
                }
            }
            .BlocoLink_CodigoDigitavel_Buttons{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                a{
                    text-decoration: none;
                    outline: none;
                }
                .CodigoDigitavel_Buttons_Item{
                    .Buttons_Item_Elemento{
                        text-transform: uppercase;
                        font-size: 14px;
                        transition: 150ms linear;
                        border: none;
                        padding: 12px 24px;
                        font-weight: 700;
                        display: flex;
                        flex-direction: row;
                        grid-gap: 8px;
                        cursor: pointer;
                        &.__is-CopiarCodigo{
                            background-color: var(--Color-MD1);
                            color: var(--Color-MD3);
                            border: 1px solid var(--Color-MD1);
                            &:hover{
                                background-color: var(--Color-MD2);
                                color: var(--Color-MD3);
                                border-color: var(--Color-MD2);
                            }
                        }
                        &.__is-CompartilharLink{
                            background-color: var(--Color-MD3);
                            color: var(--Color-MD1);
                            border: 1px solid var(--Color-MD1);
                            &:hover{
                                background-color: var(--Color-MD1);
                                color: var(--Color-MD3);
                            }
                        }
                        &.__is-active{
                            background-color: var(--Color-MD1);
                            color: var(--Color-MD3);
                            border: 1px solid var(--Color-MD1);
                        }
                    }
                }
            }
        }
    }
    .PageSucesso_Alerta{
        color: #000;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        border: 1px solid var(--Color-MD1);
        padding: 16px 20px;
        text-align: center;
    }
    .PageSucesso_OQueFazerAgora{
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        .PageSucesso_OQueFazerAgora_Titulo{
            text-align: center;
            font-size: 26px;
            line-height: 34px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--Color-MD2);
        }
        .PageSucesso_OQueFazerAgora_Conteudo{
            display: flex;
            flex-direction: row;
            grid-gap: 40px;
            .OQueFazerAgora_Conteudo_Item{
                width: 100%;
                .Conteudo_Item_Head{
                    display: flex;
                    flex-direction: row;
                    grid-gap: 16px;
                    .Item_Head_Contador{
                        color: var(--Color-MD3);
                        background-color: var(--Color-MD2);
                        width: 40px;
                        height: 40px;
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
                .Conteudo_Item_Titulo{
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 700;
                    color: var(--Color-MD2);
                    margin-top: 10px;
                    margin-bottom: 6px;
                }
                .Conteudo_Item_Descricao{
                    font-size: 12px;
                    line-height: 18px;
                    color: #000;
                    font-weight: 400;
                }
            }
            .OQueFazerAgora_Conteudo_Divisor{
                height: auto;
                width: 2px;
                background-color: var(--Color-MD1);
            }
        }
    }
}

@media screen and (max-width: 840px){
    .PageSucesso_BlocoLink{
        .PageSucesso_BlocoLink_CodigoDigitavel{
            .BlocoLink_CodigoDigitavel_Buttons{
                .CodigoDigitavel_Buttons_Item{
                    .Buttons_Item_Elemento{
                        font-size: 12px!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px){
    .PageSucesso{
        grid-gap: 32px;
        .PageSucesso_Head{
            .PageSucesso_Head_Titulo{
                font-size: 20px;
                line-height: 28px;
            }
            .PageSucesso_Head_Subtitulo{
                font-size: 20px;
                line-height: 28px;
            }
        }
        .PageSucesso_OQueFazerAgora{
            .PageSucesso_OQueFazerAgora_Titulo{
                font-size: 20px;
                line-height: 28px;
            }
            .PageSucesso_OQueFazerAgora_Conteudo{
                flex-direction: column;
                .OQueFazerAgora_Conteudo_Divisor{
                    display: none;
                }
            }
        }
        .PageSucesso_BlocoLink{
            .PageSucesso_BlocoLink_CodigoDigitavel{
                .BlocoLink_CodigoDigitavel_Input {
                    width: 100%;
                }
                .BlocoLink_CodigoDigitavel_Buttons{
                    flex-direction: column;
                    .CodigoDigitavel_Buttons_Item{
                        width: 100%;
                        .Buttons_Item_Elemento{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}