<div class="container-fluid py-3">
  <form #form="ngForm">
    <div class="row mt-3">
      <div class="col-sm-12 mb-2">
        <re-captcha
          id="recaptcha"
          name="recaptcha"
          #recaptcha="ngModel"
          [siteKey]="key"
          (ngModelChange)="onTokenChange($event)"
          [(ngModel)]="token"
          required
          [class.is-invalid]="
            recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
          "
        ></re-captcha>
      </div>
    </div>
  </form>
</div>
