@use "../../../../scss/_variables.scss";

.ButtonAbrirTabela {
  margin: 48px auto 16px;
  width: 90%;
  .ButtonAbrirTabela_Item {
    color: var(--Color-MD4);
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    background-color: inherit;
    border: 1px solid var(--Color-MD2);
    padding: 16px 24px;
    cursor: pointer;
    transition: 150ms linear;
    display: none;
    &.__is-active {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 12px;
    }
    i {
      color: var(--Color-MD2);
      transition: 150ms linear;
    }
    &:hover {
      background-color: var(--Color-MD2);
      color: var(--Color-MD3);
      i {
        color: var(--Color-MD3);
      }
    }
  }
}

.Carencias_Obs {
  width: 100%;
  margin-top: 15px;
  text-align: right;
  font-size: 13px;

  &.__Center {
    text-align: center;
    line-height: 2;
  }
}

.TabelaCarencias {
  display: none;
  justify-content: center;
  z-index: 1;
  width: 90%;
  &.__is-active {
    display: flex;
  }
  .TabelaCarencias_Container {
    width: 100%;
  }
  .TabelaCarencias_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .TabelaCarencias_Content_Fix {
      display: flex;
      grid-gap: 16px;
      flex-direction: row;
      justify-content: center;
    }
    .TabelaCarencias_Content_OBS {
      display: flex;
      font-size: 14px;
      line-height: 18px;
      color: #555;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
    }
    .TabelaCarencias_Content_HeaderCarenciaContratual {
      padding: 16px;
      width: calc(100% - 40px);
      text-align: left;
      background-image: linear-gradient(45deg, #ededed, #e1e1e1);
      color: #4c4c4c;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 16px 16px 0px 0px;
      border: 4px solid #ffffff;
      border-bottom: inherit;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .Content_HeaderCarenciaContratual_Observacao {
        display: block;
        text-transform: initial;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
      }
      .Content_HeaderCarenciaContratual_ObservacaoV2 {
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        margin-top: 6px;
        display: block;
        max-width: 90%;
        .HeaderCarenciaContratual_ObservacaoV2_Destaque {
          border-bottom: 1px solid #fff;
        }
      }
    }
    .TabelaCarencias_Content_Titulo {
      font-size: 24px;
      line-height: 32px;
      color: #2ccfdb;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 8px;
      text-align: center;
    }
    .TabelaCarencias_Content_Subtitulo {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #555;
      margin-bottom: 24px;
      max-width: 90%;
      span {
        font-weight: 700;
      }
    }
    .TabelaCarencias_Content_Table {
      .Content_Table_FixTH {
        display: flex;
        flex-direction: row;
        grid-gap: 16px;
        .Content_Table_Item {
          .__TitleDestacado {
            background-color: #9747ff;
            border-radius: 16px 16px 0px 0px;
            position: relative;
            &:after {
              content: " ";
              display: block;
              position: absolute;
              top: -16px;
              right: -16px;
              width: 64px;
              height: 64px;
              background-image: url(../../../../assets/img/icon-destaque.svg);
              background-size: contain;
              background-repeat: no-repeat;
            }
            .titleTabela {
              color: #fff;
            }
          }
          .titleTabela {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #868686;
          }
          .textTable {
            font-size: 14px;
            line-height: 14px;
          }
          .TableHasDestaque {
            tr {
              &:first-child {
                td {
                  &:nth-child(2) {
                    border-top: 2px solid #9747ff;
                  }
                }
              }
              &:last-child {
                td {
                  &:nth-child(2) {
                    border-bottom: 2px solid #9747ff;
                  }
                }
              }
              td {
                &:nth-child(2) {
                  border-left: 2px solid #9747ff;
                  border-right: 2px solid #9747ff;
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 950px) {
        flex-direction: column;
      }
      &.__is-carenciazero {
        .TabelaCarencias_Content_HeaderCarenciaContratual {
          background-image: linear-gradient(45deg, #ffbc01, #ff9a00);
          color: #fff;
        }
      }
      .Content_Table_Item {
        width: 100%;
        .titleTabela {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: #868686;
        }
        .textTable {
          font-size: 14px;
          line-height: 14px;
        }
        &.marginTop {
          margin-top: 74px;
        }

        tr:nth-child(odd) {
          background-color: #ffffff;
        }
        tr:nth-child(even) {
          background-color: #f1f1f1;

          table {
            width: 100%;
          }
        }
      }
    }
  }
}

.CarenciaDestaque {
  border: 2px solid #ff9f01;
}
.Bottom_Zero {
  border-bottom: none;
}

@media screen and (max-width: 1260px) {
  .TabelaCarencias {
    .TabelaCarencias_Container {
      width: 90%;
      .TabelaCarencias_Content {
        .TabelaCarencias_Content_Fix {
          width: 100%;
          .TabelaCarencias_Content_Table {
            .Content_Table_FixTH {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1024px) {
  .TabelaCarencias {
    .TabelaCarencias_Container {
      .TabelaCarencias_Content {
        .TabelaCarencias_Content_Fix {
          display: flex;
          flex-direction: column;
          .TabelaCarencias_Content_Table {
            margin-top: 32px;
            width: 100%;
            .Content_Table_FixTH {
              .Content_Table_Item {
                width: 100%;
              }
            }
          }
        }
        .TabelaCarencias_Content_OBS {
          margin-top: 32px;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .TabelaCarencias {
    .TabelaCarencias_Container {
      .TabelaCarencias_Content {
        .TabelaCarencias_Content_Fix {
          .TabelaCarencias_Content_Table {
            .Content_Table_FixTH {
              display: flex;
              flex-direction: column;
              .Content_Table_Item {
                &:nth-child(3) {
                  order: 1;
                }
                &:nth-child(1) {
                  order: 2;
                }
                &:nth-child(2) {
                  order: 3;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .TabelaCarencias {
    .TabelaCarencias_Container {
      width: 100%;
      .TabelaCarencias_Content {
        .TabelaCarencias_Content_Table {
          padding-top: inherit;
        }
      }
    }
  }
}
