.Conrainer_Proposta_Concluida {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Icone_Proposta_Concluida {
  font-size: 7rem;
  color: #eaa300;
  margin: 20px 0px;
}

.Texto_Proposta_Concluida {
  text-align: center;
  margin: 35px 20px;
  font-size: 18px;
}
