@use "../../../../scss/_variables.scss";

.ApresentacaoTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;

  .ApresentacaoTexto_Container {
    width: 790px;
    max-width: 90%;

    .ApresentacaoTexto_Container_Titulo {
      color: var(--Color-MD2);
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }

    .ApresentacaoTexto_Container_Texto {
      font-size: 18px;
      line-height: 26px;
      color: var(--Color-MD4);
    }
  }
}

.DetalhesProposta {
  width: 790px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 40px;

  .DetalhesProposta_Container {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 220px;

    .DetalhesProposta_Container_Item {
      // width: 100%;
      margin-bottom: 16px;
      line-height: 26px;

      .DetalhesProposta_Container_Item_Titulo {
        font-size: 12px;
        color: var(--Color-MD5);
        font-weight: 600;
        text-transform: uppercase
      }

      .DetalhesProposta_Container_Item_Texto {
        font-size: 18px;
        color: var(--Color-MD2);
        font-weight: 600;
      }
    }
  }
}

.ButtonCancelar {
  background-color: red;
  color: var(--Color-MD3);
  text-transform: uppercase;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  &.__is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

.AreaCancelamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 790px;
  max-width: 90%;
  margin: auto;

  .AreaCancelamento_Form {
    display: flex;
    align-items: center;
    gap: 16px;

    .AreaCancelamento_Form_Check {
      input[type="checkbox"] {
        width: 25px;
        height: 25px;
      }
    }

    .AreaCancelamento_Form_Text {
      color: var(--Color-MD4);
    }
  }

}

@media screen and (max-width: 1140px) {
  .ApresentacaoTexto .ApresentacaoTexto_Container {
    width: inherit;
  }

  .DetalhesProposta, .AreaCancelamento {
    width: 100%;

    .DetalhesProposta_Container {
      max-height: max-content;
    }
  }

  .AreaCancelamento_Form .AreaCancelamento_Form_Text {
    font-size: 12px;
  }

  .ButtonCancelar {
    font-size: 14px;
  }
}
