@use "../../../../scss/_variables.scss";

.Container_ContentPrincipal_Row{
  margin-top: 48px;
  &.__DuasColunas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &.__DuasColunasCustomCartaoDeCredito{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
}

.BannerMioloQuadrado{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .BannerMioloQuadrado_Item{
      max-width: 100%;
  }
}

.GerarPagamentoPix{
  border: solid 1px #e6e6e6;
  padding: 16px;
  .GerarPagamentoPix_Content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 24px;
      .GerarPagamentoPix_Content_Icone{
          i{
              font-size: 48px;
              color: #73DD94;
          }
      }
      .GerarPagamentoPix_Content_Titulo{
          color: var(--Color-MD4);
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
          text-align: center;
      }
      .GerarPagamentoPix_Content_Alerta{
          display: flex;
          flex-direction: row;
          grid-gap: 16px;
          border: 1px solid var(--Color-MD1);
          padding: 12px;
          .Content_Alerta_Icone{
              font-size: 32px;
              color: var(--Color-MD1);
          }
          .Content_Alerta_Texto{
              color: var(--Color-MD4);
              font-size: 16px;
              line-height: 24px;
          }
      }
      .GerarPagamentoPix_Content_Button{
          width: 100%;
          .Content_Button_Item{
              border: none;
              background-color: #B5B0B2;
              color: var(--Color-MD3);
              width: 100%;
              padding: 12px 20px;
              font-size: 18px;
              font-weight: 700;
              cursor: pointer;
              transition: 150ms linear;
              &.__is-active{
                  background-color: var(--Color-MD2);
                  &:hover{
                      background-color: var(--Color-MD1);
                  }
              }
          }
      }
      .GerarPagamentoPix_Content_Recaptcha{
          img{
              max-width: 100%;
          }
      }
  }
}
