.Container_NaoEncontrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Icone_NaoEncontrado {
  font-size: 7rem;
  margin: 20px 0px;
}

.Texto_NaoEncontrado {
  text-align: center;
  margin: 20px;
  font-size: 18px;
}
